.post__wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;


}

.profile__img {
    background: #a4c3c3;;
    background-size: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;

}

.profile__MyNews {
    color: #322c2c;
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;

}

.likes {
    color: #322c2c;

    font-size: 14px;
    padding-top: 20px;
    text-align: center;

}
