
.profile__Circle {
    background: url("https://images.chesscomfiles.com/uploads/v1/user/57010166.6e4df069.1200x1200o.19af94f0d651.png");
    background-size: cover;
    width: 55px;
    height: 55px;

    border-radius: 50%;
    margin-top: 10px;

}

.profile__MyNews {
    color: #322c2c;
    font-weight: 700;
    font-size: 20px;
    padding-left: 150px;

}

