
.dialogs {
    font-weight: 600;
    font-size: 26px;
    padding: 10px;

}

.dialogs__item {
    padding: 15px;


}

.dialogs a {
    text-decoration: none;
    color: #322c2c;


}

.dialogs a:hover {
    text-decoration: none;
    color: deepskyblue;
}


.activelink {
    color: deepskyblue;
}
.dialog__avatar {
    width: 40%;
    height: 40%;
    border-radius: 30%;

}
.dialog__names {



}
