.Container {
    display: grid;
    grid-template-areas:
"header header header"
"navi profile profile";
    grid-template-rows: 80px 920px;
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 18px;
    margin: 0 auto;
    width: 1280px;
}

.profile {
    grid-area: profile;

    display: grid;
    grid-template-rows: 260px 60px 100px 60px 120px 60px 90px 90px;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    width: 1055px;
    grid-gap: 10px;
    grid-template-areas:
"mainImage mainImage mainImage mainImage mainImage mainImage"
"profileAvatar profileName profileName profileName profileName profileName"
"profileAvatar profileAboutMe profileAboutMe profileAboutMe profileAboutMe profileAboutMe"
"myPosts myPosts myPosts myPosts myPosts myPosts"
"profileInput profileInput profileInput profileInput profileInput profileInput"
"profileButton profileButton profileButton profileButton profileButton profileButton"
"profileNewsAll profileNewsAll profileNewsAll profileNewsAll profileNewsAll profileNewsAll"
"profileNewsAll profileNewsAll profileNewsAll profileNewsAll profileNewsAll profileNewsAll";


}
.profile__MainImage {
    grid-area: mainImage;
}
.profile__MainImage img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.profile__Avatar {
    grid-area: profileAvatar;


}
.profile__Avatar img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 21px;
    margin-top: 16px;
}
.profile__Name{
    grid-area: profileName;
    color: #322c2c;
    padding-left: 30px;
    align-self: start;
    font-size: 18px;

}
.profile__About_Me {
    grid-area: profileAboutMe;
    color: #322c2c;
    align-self: center;
    justify-self: start;
    font-size: 20px;
    font-weight: 700;

}
.profile__About_Me ul{
    grid-area: profileAboutMe;
    color: #322c2c;
    list-style: none;
    padding-left: 30px;

}
.profile__MyPosts{
    grid-area: myPosts;
    align-self: start;
    color: #322c2c;
    font-weight: 500;
    font-size: 32px;
}
.profile__Input{
    grid-area: profileInput;
    align-self: end;

}
.profile__Input input{
    grid-area: profileInput;
    width: 90%;
    height: 80px;
    background: #cacaca;
    border: 1px solid #cacaca;
    border-radius: 10px;
    color: #777575;
    margin-top: 120px;
    font-weight: 500;
    font-size: 22px;
    padding-left: 20px;



}

.profile__ButtonSend{
    grid-area: profileButton;
    align-self: center;
    justify-self: end;
}
.profile__ButtonSend button{
    background: #3CB371;;
    margin-right: 75px;
    padding: 7px;
    color: white;
    font-size: 22px;
}

.profile__NewsAll{
    grid-area: profileNewsAll;
    display: grid;
    grid-template-areas:
"News1 News1 News1 News1 News1 News1"
"News2 News2 News2 News2 News2 News2";
    grid-template-rows: 90px 90px;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
    margin: 0 auto;
    width: 1280px;
}
.profile__News1{
    grid-area: News1;
    display: grid;
    grid-template-areas:
"Circle MyNews1 MyNews1 ";
    grid-template-rows: 90px;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
    margin: 0 auto;
    width: 1280px;
}
.profile__MyNews1 {
    grid-area: MyNews1;
    justify-self: start;
    align-self: start;
}
.profile__News2{
    grid-area: News2;
    display: grid;
    grid-template-areas:
"Circle MyNews2 MyNews2 ";
    grid-template-rows: 90px;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
    margin: 0 auto;
    width: 1280px;
}
.profile__MyNews2 {
    grid-area: MyNews2;
    justify-self: start;
    align-self: start;
}



.profile__Circle {
    grid-area: Circle;
    width: 45px;
    height: 45px;
    background: yellow;
    border-radius: 50%;
    margin-top: 10px;

}
.profile__NewsAll p{

    color: #322c2c;
    font-weight: 600;
    font-size: 20px;
}
